@import './Colors';
@mixin Button {
    background: $mainColor;
    color: $White;
    border: none;
    width: 100%;
    padding: 8px 0;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}